---
import Image from "astro/components/Image.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---
<BaseLayout>
	<h1>Welcome to Astro</h1>
	<!-- <Image src="/logo.svg" alt="Astro Logo" /> -->
</BaseLayout>