---
import { fade, slide } from "astro:transitions"

const menuItems = [
    { name: 'Perfil', href: '/profile' },
    { name: 'Estudios', href: '/studies' },
    { name: 'Tecnologías', href: '/technologies/1' },
    { name: 'Experiencia', href: '/experience' },
]

const currentPath = Astro.url.pathname.split('/')[1]

---

<nav class="h-full flex flex-col justify-center text-white gap-4 "> 
  
        {
            menuItems.map(item => (<a href={item.href} 
                                      class={ 'px-10 pl-8 text-xl ' + (currentPath == item.href.split('/')[1] ? 'border-b' : '')}
                                      transition:name={item.name}>{item.name}</a>))
        }

        <!-- <a href=""  class="py-4 px-2 hover:bg-[#a9afd1]">Perfil</a>
        <a href=""  class="py-4 px-2 hover:bg-white">Estudios</a>
        <a href="" class="py-4 px-2 hover:bg-white">Tecnologías</a>
        <a href="" class="py-4 px-2 hover:bg-white">Experiencia</a> -->
</nav>